
.banner{
    width: 400px;
    height: 300px;
    margin: 10px auto;
    border: 2px solid black;
    position: relative;
   
}
.head{
    position: relative;
}
.title{
    text-align: center;
    padding: 1px;
    margin: 10px 0px 0px 0px;
    color: red;
   
}
.t-para{
    text-align: center;
    padding: 0 40px 0 0 ;
    margin: 0;
    font-size: 8px;
}
.icon{
    position: absolute;
}
.bi-person-walking{
    border: 1px solid black;
    margin:21px 0px 10px 270px;
    border-radius: 50%;
     border-width:3px ;
    width:30px;
    height: 30px;
    position: absolute;
    background-color: lightblue;
}
.small-banner{
    border: 1px solid black;
    width: 100%;
    height: 50px;
    
}
